body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;


}

/* cabecera */

.cabecera {
    background-color: #F0B429;
    height: 200px;
    background-image: url("../img/cabecera.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.titulo-cabecera {
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 20px;
}

/* pie de pagina */
footer {

    height: 150px;
    background-color: #f0B429;

}

.piepagina {
    margin-left: 230px;
    padding-top: 20px;
}

.iconfooter {
    display: block;
    text-align: center;
}

footer a {
    display: inline-block;
    padding: 22px;
}


/* menu */

button {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    
    
  }
.barralateral {
    position: fixed;
    background-color: #005883;
    width: 210px;
    height: 100%;
    overflow: scroll;
}

.barralateral::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    /* display: none;   Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.barralateral::-webkit-scrollbar-track {
    background: #b9b8b863;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.barralateral::-webkit-scrollbar-track:hover,
.barralateral::-webkit-scrollbar-track:active {
    background: #f0B429;
}

.imgheader {
    padding-right: 20px;
}

nav {
    padding-top: 0px;
}

nav ul {
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #F0B429;
}

nav ul li ul {
    display: block;
}

/* nav ul li a:hover + ul, nav ul li ul:hover {
    display: block;
} */

.activada {
    background-color: gray;

}

/* informacion central */
.col1 {
    width: 25%;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 25%;
}

.document .col3 {
    width: 10%;
}

.titulos {

    text-align: center;
    padding-top: 30px;
    margin: 0;

}

.parrafo {
    text-align: justify;
    width: 700px;
    padding: 10px;
    word-break: break-all;
}

.parrafo1 {

    width: 800px;
    text-align: justify;
    padding: 10px;
    word-break: break-all;
}

/* .alinear{
    margin-left: 20px;
} */

/* aside */
.columna1 {
    width: 20%;
}


aside {
    /* display: inline-block; */
    float: right;
}

/*style scroolGIT */

.comangit ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;


}

.scroll {
    width: 200px;
    height: 900px;
    background: gray;
    overflow: scroll;

}

.scrollgit {
    width: 260px;
    height: 1800px;
    background: gray;
    overflow: scroll;
}

.scrollgithub {
    width: 230px;
    height: 1200px;
    background: gray;
    overflow: scroll;
}

.scrollvideo {
    width: 260px;
    height: 1900px;
    background: gray;
    overflow: scroll;
}

.scrolldocumentos {
    width: 220px;
    height: 400px;
    background: gray;
    overflow: scroll;
}

.scrollactividad {
    width: 260px;
    height: 800px;
    background: gray;
    overflow: scroll;
}

.scrollautor {
    width: 200px;
    height: 600px;
    background: gray;
    overflow: scroll;
}

.scrollevalucion {
    width: 180px;
    height: 600px;
    background: gray;
    overflow: scroll;
}

    /* actividades */
    .activity {
        width: 600px;
        height: 680px;

    }

/* Autor */
.imgautor {
    height: 200px;
    width: 200px;
}

/* documentos */
.imgdocument {
    width: 150px;
    height: 150px;
}

.section-fondo{
    /* border-top-left-radius: 200px 100px; */
        /* The image used */
    background-image: url("../img/fondo.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: skewY(-3deg); */
    filter: grayscale(80%);
    
}

@media only screen and (max-width: 1200px) and (min-width: 981px) {

    /* menu */
    .imgheader {
        padding-right: 20px;
        width: 120px;
    }

    /*style scroolGIT */
    .scroll {
        width: 200px;
        height: 1000px;
        background: gray;
        overflow: scroll;
    }

    .scrollgit {
        width: 200px;
        height: 2200px;
        background: gray;
        overflow: scroll;
    }

    .scrollgithub {
        width: 200px;
        height: 1300px;
        background: gray;
        overflow: scroll;
    }

    .scrollvideo {
        width: 200px;
        height: 2700px;
        background: gray;
        overflow: scroll;
    }

    .scrolldocumentos {
        width: 200px;
        height: 400px;
        background: gray;
        overflow: scroll;
    }

    .scrollactividad {
        width: 200px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    .scrollautor {
        width: 200px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    .scrollevalucion {
        width: 180px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    /* pie de pagina */

    .iconfooter img {
        width: 60px;
        height: 60px;
    }


    /* informacion central */
    .col1 {
        width: 30%;
    }

    .col2 {
        width: 60%;
    }

    .col3 {
        width: 10%;
    }

    .parrafo {

        width: 470px;

    }

    .parrafo1 {

        width: 650px;
    }

    /* actividades */
    .activity {
        width: 480px;
        height: 480px;

    }

    /* documentos */
    .imgdocument {
        width: 180px;
        height: 180px;
    }

}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {

    /* menu */
    .imgheader {
        padding-right: 10px;
        width: 100px;
    }

    .barralateral {

        width: 170px;


    }

    /*style scroolGIT */
    .scroll {
        width: 200px;
        height: 1100px;

    }

    .scrollgit {
        width: 200px;
        height: 2400px;

    }

    .scrollgithub {
        width: 200px;
        height: 1400px;
    }

    .scrollvideo {
        width: 200px;
        height: 1800px;
        background: gray;
        overflow: scroll;
    }

    .scrolldocumentos {
        width: 200px;
        height: 400px;

    }

    .scrollactividad {
        width: 200px;
        height: 400px;
        background: gray;
        overflow: scroll;
    }

    .scrollautor {
        width: 200px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    .scrollevalucion {
        width: 180px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    /* pie de pagina */

    footer {

        height: 120px;

    }

    .iconfooter img {
        width: 38px;
        height: 38px;
    }


    /* informacion central */
    .col1 {
        width: 40%;
    }

    .col2 {
        width: 50%;
    }

    .col3 {
        width: 10%;
    }

    .parrafo {

        width: 350px;

    }

    .parrafo1 {

        width: 650px;
    }

    /* actividades */
    .activity {
        width: 400px;
        height: 380px;

    }

    /* Autor */
    .imgautor {
        height: 120px;
        width: 120px;
    }

    /* documentos */
    .imgdocument {
        width: 150px;
        height: 150px;
    }


}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
      /* menu */
      .imgheader {
        padding-right: 10px;
        width: 60px;
    }

    .barralateral {

        width: 140px;


    }

    .barralateral li ul a{
        font-size: 12px;
    }

    .barralateral a{
        font-size: 14px;
    }

    /*style scroolGIT */
    .scroll {
        width: 150px;
        height: 1100px;
    }

    .scrollgit {
        width: 150px;
        height: 2600px;

    }

    .scrollgithub {
        width: 150px;
        height: 1500px;
    }

    .scrollvideo {
        width: 150px;
        height: 2000px;
        background: gray;
        overflow: scroll;
    }

    .scrolldocumentos {
        width: 150px;
        height: 400px;

    }

    .scrollactividad {
        width: 150px;
        height: 400px;
        background: gray;
        overflow: scroll;
    }

    .scrollautor {
        width: 150px;
        height: 500px;
        background: gray;
        overflow: scroll;
    }

    .scrollevalucion {
        width: 180px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    .scrollevalucion {
        width: 180px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    /* pie de pagina */

    footer {

        height: 120px;

    }

    .piepagina {
        margin-left: 150px;
        padding-top: 20px;
    }

    .iconfooter img {
        width: 32px;
        height: 32px;
       
    }


    /* informacion central */
    .col1 {
        width: 40%;
    }

    .col2 {
        width: 50%;
    }

    .col3 {
        width: 10%;
    }

    .parrafo {
        width: 300px;
    }

    .parrafo1 {
        width: 450px;
    }

    /* actividades */
    .activity {
        width: 300px;
        height: 380px;

    }

    /* Autor */
    .imgautor {
        height: 120px;
        width: 120px;
    }

    /* documentos */
    .imgdocument {
        width: 150px;
        height: 150px;
    }

}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
       /* menu */
       .imgheader {
        padding-right: 10px;
        width: 60px;
    }

    .barralateral {

        width: 140px;


    }

    .barralateral li ul a{
        font-size: 12px;
    }

    .barralateral a{
        font-size: 14px;
    }

    /*style scroolGIT */
    .scroll {
        width: 150px;
        height: 1100px;
    }

    .scrollgit {
        width: 150px;
        height: 2600px;

    }

    .scrollgithub {
        width: 150px;
        height: 1500px;
    }

    .scrollvideo {
        width: 150px;
        height: 2000px;
        background: gray;
        overflow: scroll;
    }

    .scrolldocumentos {
        width: 150px;
        height: 400px;

    }

    .scrollactividad {
        width: 150px;
        height: 400px;
        background: gray;
        overflow: scroll;
    }

    .scrollautor {
        width: 150px;
        height: 500px;
        background: gray;
        overflow: scroll;
    }

    .scrollautor {
        width: 150px;
        height: 500px;
        background: gray;
        overflow: scroll;
    }

    .scrollevalucion {
        width: 150px;
        height: 600px;
        background: gray;
        overflow: scroll;
    }

    

    /* pie de pagina */

    footer {

        height: 120px;

    }

    .piepagina {
        margin-left: 10px;
        padding-top: 20px;
    }

    .iconfooter img {
        width: 32px;
        height: 32px;
       
    }


    /* informacion central */
    .col1 {
        width: 20%;
    }

    .col2 {
        width: 70%;
    }

    .col3 {
        width: 10%;
    }

    .parrafo {

        width: 320px;

    }

    .parrafo1 {
        width: 420px;
    }

    /* actividades */
    .activity {
        width: 300px;
        height: 380px;

    }

    /* Autor */
    .imgautor {
        height: 120px;
        width: 120px;
    }

    /* documentos */
    .imgdocument {
        width: 150px;
        height: 150px;
    }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
           /* menu */
           .imgheader {
            padding-right: 10px;
            width: 60px;
        }
    
        .barralateral {    
            width: 140px;
        }
    
        .barralateral li ul a{
            font-size: 12px;
        }
    
        .barralateral a{
            font-size: 14px;
        }

        .titulo-cabecera {
            margin: auto;
            display: block;
            text-align: center;
            padding-top: 10px;
        }
    
        /*style scroolGIT */
        .scroll {
            display: none;
        }
    
        .scrollgit {
           display: none;
    
        }
    
        .scrollgithub {
            display: none;
        }
    
        .scrollvideo {
            display: none;
        }
    
        .scrolldocumentos {
            display: none;
        }
    
        .scrollactividad {
            display: none;
        }
    
        .scrollautor {
            display: none;
        }

        .scrollevalucion {
            display: none;
        }
    
        /* pie de pagina */
    
        footer a {
            display: inline-block;
            padding: 10px;
        }
        footer {
    
            height: 110px;
            
        }
    
        .piepagina {
            margin-left: 0px;

          
        }
    
        .iconfooter img {
            width: 24px;
            height: 24px;

           
        }
    
    
        /* informacion central */
        .col1 {
            width: 20%;
        }
    
        .col2 {
            width: 70%;
        }
    
        .col3 {
            width: 10%;
        }
    
        .parrafo { 
            width: 240px;
        }

        .parrafo1 {
            width: 280px;
        }
    
        /* actividades */
        .activity {
            width: 300px;
            height: 380px;
    
        }
    
        /* Autor */
        .imgautor {
            height: 120px;
            width: 120px;
        }
    
        /* documentos */
        .imgdocument {
            width: 150px;
            height: 150px;
        }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
               /* menu */
               .imgheader {
                padding-right: 10px;
                width: 60px;
            }
        
            .barralateral {    
                width: 140px;
            }
        
            .barralateral li ul a{
                font-size: 12px;
            }
        
            .barralateral a{
                font-size: 14px;
            }
    
            .titulo-cabecera {
                margin: auto;
                display: block;
                text-align: center;
                padding-top: 10px;
            }
        
            /*style scroolGIT */
            .scroll {
                display: none;
            }
        
            .scrollgit {
               display: none;
        
            }
        
            .scrollgithub {
                display: none;
            }
        
            .scrollvideo {
                display: none;
            }
        
            .scrolldocumentos {
                display: none;
            }
        
            .scrollactividad {
                display: none;
            }
        
            .scrollautor {
                display: none;
            }
    
            .scrollevalucion {
                display: none;
            }
        
            /* pie de pagina */
        
            footer a {
                display: inline-block;
                padding: 5px;
            }
            footer {
        
                height: 110px;
                
            }
        
            .piepagina {
                margin-left: 0px;
    
              
            }
        
            .iconfooter img {
                width: 24px;
                height: 24px;
    
               
            }
        
        
            /* informacion central */
            .col1 {
                width: 20%;
            }
        
            .col2 {
                width: 70%;
            }
        
            .col3 {
                width: 10%;
            }
        
            .parrafo { 
                width: 200px;
            }
    
            .parrafo1 {
                width: 230px;
            }
        
            /* actividades */
            .activity {
                width: 250px;
                height: 380px;
        
            }
        
            /* Autor */
            .imgautor {
                height: 120px;
                width: 120px;
            }
        
            /* documentos */
            .imgdocument {
                width: 150px;
                height: 150px;
            }
}