body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;


}

/* cabecera */

.cabecera{
    background-color: #F0B429;
    height: 200px;
    background-image:url("../img/cabecera.jpg") ;
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
    
}

.titulo-cabecera{
    margin:auto;
    display:block;
    text-align: center;
    padding-top: 50px;
}

/* pie de pagina */
footer{

    height: 150px;
    background-color: #f0B429;
   
}

.piepagina{
    margin-left: 230px;
    padding-top: 20px;
}

.iconfooter{
    display: block;
    text-align: center;
}

footer a {
    display: inline-block;
    padding: 22px; 
}


/* menu */

.barralateral{
    position: fixed;
    background-color:  #005883;
    width: 210px;
   height: 100%;

}

.imgheader{
   padding-right: 20px; 
}

nav{   
   padding-top: 0px;
}

nav ul {
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    padding: 12px; 
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #F0B429;
}

nav ul li ul {
    display: block;
}

/* nav ul li a:hover + ul, nav ul li ul:hover {
    display: block;
} */

.activada{
    background-color: gray;
  
}

/* informacion central */
.columna{
    width: 50%;
}

.titulos{
   
    text-align: center;
    padding-top: 30px;
    margin: 0;
    
}

.parrafo{
    text-align: left;
}

/* aside */
.columna1{
    width: 20%;
}


aside{
    /* display: inline-block; */
    float: right;
}

.scroll {
    width: 300px;
    height: 800px;
     background: gray;
    overflow: scroll;
    
 }

/*style GIT */

.comangit ul {
    list-style-type:none;
    padding: 0;
    padding-top: 10px;


}

.scrollgit{
    width: 260px;
    height: 1800px;
     background: gray;
    overflow: scroll;
}

.scrollgithub{
    width: 260px;
    height: 1200px;
     background: gray;
    overflow: scroll;
}

.scrollvideo{
    width: 260px;
    height: 2800px;
     background: gray;
    overflow: scroll;
}
 

